/* cards SECTION ↓↓ */

.cards {
  background: var(--secundaria50);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
}

.cards__header {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 0 88px;
}

.cards__title {
  font-size: 2.688rem;
  font-weight: 400;
  color: var(--secundaria900);
  line-height: 120%;
}

.cards__description {
  font-weight: 400;
  color: var(--secundaria900);
  max-width: 53rem;
  text-align: center;
  margin: 3em 0;
  line-height: 120%;
}

/* Serviços HOME */

.cards__swiper {
  height: 16.25rem;
}

.cards__swiper-slide {
  text-align: center;
  background: #fff;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: end;
  width: 12.5rem !important;
  height: 12.5rem;
  border-radius: 1.5rem;
  /* padding-left: 1.25rem; */
  padding: 24px 26px 18px 24px;
  box-shadow: 0px 10px 32px rgba(0, 0, 0, 0.1);
}

.cards__swiper-slide-img {
  grid-row: 1 / 2;
  background: #d9d9d9;
  border-radius: 100%;
  width: 5.303rem;
  height: 5.303rem;
}

.cards__swiper-slide-title {
  grid-row: 2 / 3;
  font-size: 1.5rem;
  line-height: 120%;
  color: var(--secundaria900);
  font-weight: 400;
  text-align: left;
}

@media screen and (max-width: 580px) {
  .cards {
    padding: 3rem 0;
  }

  .cards__header {
    padding: 0;
  }

  .cards__title {
    text-align: center;
    width: 100%;
    font-size: 2.125rem;
  }

  .cards__description {
    margin: 3rem 2rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cards {
    padding: 2rem 0;
  }

  .cards__header {
    padding: 0 32px;
  }

  .cards__description {
    margin: 3rem 2rem;
  }
}

@media screen and (min-width: 1440px) {
  .cards__header {
    justify-content: center;
  }
}
