:root {
  --swiper-pagination-bullet-horizontal-gap: 1rem;
  --swiper-pagination-color: var(--secundaria700);
  --swiper-pagination-bullet-size: 1rem;
  --swiper-pagination-bullet-inactive-color: var(--secundaria200);
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-navigation-top-offset: 72%;
  --swiper-navigation-sides-offset: 0px;
  --swiper-navigation-color: var(--primaria);
  --swiper-navigation-size: 12px;
  --swiper-navigation-background-size: 2.5rem;
  --swiper-navigation-top-offset--clinicalStaff: 183%;
}

/* Parte Geral */

.swiper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-next,
.swiper-button-prev {
  font-weight: 900;
  background: var(--terciaria);
  width: var(--swiper-navigation-background-size);
  height: var(--swiper-navigation-background-size);
  border-radius: 100%;
  position: inherit;
}

.swiper-wrapper__center {
  justify-content: center;
  margin: 0 auto;
}

.swiper-button-lock {
  display: inherit !important;
}

@media screen and (max-width: 580px) {
  :root {
    --swiper-pagination-bottom: -2px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  .swiper--servicos {
    height: 17rem;
  }

  .swiper--clinicalStaff {
    height: 21.5rem;
  }
}

@media screen and (max-width: 425px) {
  :root {
    --swiper-pagination-bullet-horizontal-gap: 0.75rem;
  }
}

/* @media screen and (min-width: 1440px) {
  .swiper-wrapper {
    justify-content: center;
  }
} */
