/* FOOTER SECTION ↓↓ */

.endpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.5rem 0 3rem 0;
}

.endpage__contact {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1rem;
}

.endpage__link {
  color: var(--secundaria900);
  font-size: 0.875rem;
  line-height: 120%;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.endpage__link:hover {
  color: var(--terciaria);
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.endpage__link--agendar {
  font-weight: 700;
}

.endpage__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2.188rem 0 1.188rem 0;
  gap: 1.313rem;
}

.endpage__icon {
  width: 1.125rem;
  height: 1.125em;
}

.endpage__icon {
  fill: var(--terciaria);
  transition: fill 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.endpage__icon:hover {
  fill: var(--secundaria400);
  transition: fill 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.endpage__icon:active {
  fill: var(--secundaria700);
}

.endpage__end {
  font-size: 14px;
  color: var(--secundaria900);
  line-height: 120%;
}

/* FOOTER RESPONSIVO Mobile/Tablet ↓↓ */
@media screen and (max-width: 580px) {
  .endpage {
    padding: 47.75px 12px 48px;
  }

  .endpage__contact {
    flex-wrap: wrap;
    justify-content: center;
  }

  .endpage__item {
    font-size: 1rem;
  }

  .endpage__item--agendar {
    padding: 0.313rem 0.625rem;
  }

  .endpage__icons {
    margin-top: 1.25rem;
    justify-content: center;
  }
}

@media (min-width: 581px) and (max-width: 1023px) {
  .endpage {
    flex-direction: column;
    padding: 1.25rem 0;
  }
}
