/* schedule SECTION ↓↓ */

.schedule {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 4rem 5.5rem;
  gap: 16px;
}

.schedule--resultados {
  padding: calc(var(--tamanho-navbar-desktop) + 4rem) 5.5rem 4rem;
}

.schedule__content {
  width: 416px;
  flex: none;
}

.schedule__title {
  font-weight: 400;
  color: var(--secundaria900);
  font-size: 2.125rem;
  line-height: 40.8px;
}

.schedule__description {
  color: var(--secundaria900);
  font-weight: 400;
  margin-top: 1.5rem;
  margin-bottom: 2.18rem;
  line-height: 19.2px;
}

.schedule__button {
  background: var(--terciaria);
  border: none;
  width: 10.625rem; /* convertendo 170px para rem */
  height: 3.188rem; /* convertendo 51px para rem */
  border-radius: 0.5rem; /* convertendo 8px para rem */
  font-weight: 700;
  color: var(--primaria);
  cursor: pointer;
}

.image-wrapper {
  display: flex;
}

.schedule__image {
  background-color: #d9d9d9;
  /* width: 412px; */
  flex-grow: 1;
  height: auto;
}

@media screen and (max-width: 580px) {
  .schedule {
    flex-direction: column;
    padding: 0;
    padding-top: 4rem;
    align-items: inherit;
  }

  .schedule__content {
    margin: 0 1rem 2rem;
    width: auto;
    flex: unset;
  }

  .schedule__image {
    width: 100%;
  }

  /* Página resultados */

  .schedule--resultados {
    padding: calc(var(--tamanho-navbar-mobile) + 64px) 1rem 32px;
    margin: 0;
  }

  .schedule--resultados .schedule__content {
    margin: 0;
  }

  .schedule--resultados .schedule__image {
    display: none;
  }
}

@media screen and (min-width: 581px) and (max-width: 1023px) {
  .schedule {
    padding: 4rem 0 4rem 2rem;
    gap: 17px;
    overflow-x: hidden;
  }
  
  .schedule__content {
    min-width: 223px;
    max-width: 344px;
    flex: unset;
  }
}