/* schedule-section SECTION ↓↓ */

.schedule-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 5.5rem;
}

.schedule-section__content {
  max-width: 413px;
}

.schedule-section__title {
  font-weight: 400;
  color: var(--secundaria900);
  font-size: 2.125rem;
  line-height: 40.8px;
}

.schedule-section__description {
  color: var(--secundaria900);
  font-weight: 400;
  margin-top: 1.5rem;
  margin-bottom: 2.18rem;
  line-height: 19.2px;
}

.schedule-section__button {
  background: var(--terciaria);
  border: none;
  width: 10.625rem; /* convertendo 170px para rem */
  height: 3.188rem; /* convertendo 51px para rem */
  border-radius: 0.5rem; /* convertendo 8px para rem */
  font-weight: 700;
  color: var(--primaria);
  cursor: pointer;
}

.schedule-section__image {
  background-color: #d9d9d9;
  width: 412px;
  height: 283.83px;
}

@media screen and (max-width: 580px) {
  .schedule-section {
    flex-direction: column;
    padding: 0;
    margin-top: 4rem;
    align-items: inherit;
  }

  .schedule-section__content {
    margin: 0 1rem 2rem;
  }

  .schedule-section__image {
    width: 100%;
    height: 280px; /* Deixar temporariamente */
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .schedule-section {
    padding: 4rem 0 4rem 2rem;
    gap: 17px;
  }

  .schedule-section__content {
    max-width: 344px;
  }
}
