/* CLINICAL STEFF SECTION ↓↓ */

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
  gap: 64px;
}

.team__header {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 0 88px;
}

.team__title {
  font-size: 2.688rem;
  font-weight: 400;
  color: var(--secundaria900);
}

/* clinicalStaff HOME */

.team__swiper {
  height: 330px;
}

.team__swiper-slide {
  text-align: center;
  background: var(--secundaria50);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 25px 9px;
  align-items: center;
  height: 12.5rem;
  border-radius: 1.5rem;
  width: 220px;
  height: 270px;
  /* Drop Shadow 32 */
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
}

.team__swiper-slide-img {
  grid-row: 1 / 2;
  background: transparent;
  justify-self: center;
  height: 128px;
  -webkit-mask-image: linear-gradient(to top, transparent 0%, black 25%);
  mask-image: linear-gradient(to top, transparent 0%, black 25%);
}

.team__swiper-slide-hr {
  grid-row: 2 / 3;
  border: none;
  border: 1px solid var(--terciaria);
  margin: 24px 13px 8px;
}

.team__swiper-slide-info {
  grid-row: 3 / 4;
  text-align: left;
  padding-left: 13px;
}

.team__swiper-slide-name {
  padding-bottom: 8px;
  font-weight: 700;
  line-height: 120%;
}

.team__swiper-slide-role {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 580px) {
  .team {
    padding: 2rem 0;
  }

  .team__title {
    font-size: 2.125rem;
    width: 100%;
    text-align: center;
  }

  .team__swiper {
    height: 364px;
  }

  .team__swiper-slide {
    width: 242px;
    height: 300px;
    padding: 64px 32px 32px;
  }

  .team__swiper-slide-hr {
    width: 160px;
    justify-self: center;
  }

  .team__swiper-slide-info {
    padding: 0;
  }
}

@media screen and (min-width: 581px) and (max-width: 1023px) {
  .team {
    padding: 2rem 0;
  }

  .team__header {
    padding: 0 32px;
  }

  .team__title {
    font-size: 2.125rem;
  }

  .team__swiper-slide {
    width: 163px;
    height: 244px;
    padding: 32px 16px 30px;
  }

  .team__swiper-slide-img {
    width: 95px;
    height: 96px;
  }

  .team__swiper-slide-hr {
    width: 120px;
    justify-self: center;
  }

  .team__swiper-slide-info {
    padding: 0;
  }
}

