/* VISIT US SECTION ↓↓ */

.visit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--secundaria50);
  padding: 4rem 5.5rem;
}

.visit__title {
  font-weight: 400;
  font-size: 2.688rem;
  color: var(--secundaria700);
  line-height: 51.6px;
}

.visit__paragraph {
  font-weight: 400;
  line-height: 19.2px;
  color: var(--secundaria900);
  padding: 3rem 0;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.125rem;
}

.contact__container {
  background-color: white;
  list-style: none;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
  border-radius: 1.5rem;
  padding: 2.5rem 2rem;
  gap: 3rem;
  display: flex;
  flex-direction: column;
  width: 21.37rem;
}

.contact__item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.contact__image {
  background-color: #d9d9d9;
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
}

.contact__text {
  display: flex;
  flex-direction: column;
}

.contact__span {
  color: var(--secundaria900);
  line-height: 19.2px;
  padding-bottom: 1.5rem;
}

.contact__item:last-child .contact__span {
  padding-bottom: 1rem;
}

.contact__dado {
  font-weight: 700;
  color: var(--secundaria900);
  line-height: 19.2px;
}

.contact__map {
  border-radius: 1.5rem;
  box-shadow: 0px 10px 32px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 580px) {
  .visit {
    padding: 2rem 1rem;
  }

  .visit__title,
  .visit__paragraph {
    text-align: center;
  }

  .visit__title {
    font-size: 2.125rem;
  }

  .visit__paragraph {
    color: #8e8b8b;
    font-weight: 500;
    padding: 3rem 0.625rem;
    line-height: 19px;
  }

  .contact {
    flex-direction: column;
  }

  .contact__container {
    padding: 2.5rem 1rem;
    min-width: 100%;
    max-width: 327px;
  }

  .contact__map {
    width: 100%;
  }
}

@media screen and (min-width: 581px) and (max-width: 710px) {
  .contact {
    flex-direction: column;
  }
}