.visit {
  background-color: var(--secundaria50);
  padding: 72px 88px 64px;
}

.contact__title {
  font-size: 43px;
  font-weight: 400;
  line-height: 120%;
  color: var(--secundaria900);
}

.contact {
  margin-top: 32px;
}

.contact__container {
  padding: 40px 32px;
  gap: 48px;
}

.contact__image {
  align-self: flex-start;
}

.contact__dado--numero {
  padding-bottom: 24px;
}

.contact__button {
  padding: 16px 24px;
}

.contact__map {
  width: 488px;
  height: 545.6px;
}

@media screen and (max-width: 580px) {
  .visit {
    padding: 32px 16px;
  }

  .contact {
    gap: 16px;
  }

  .contact__container {
    max-width: 326px;
  }

  .contact__title {
    font-size: 34px;
  }

  .contact__map {
    width: 326px;
  }
}

/* Tablet */
@media (min-width: 581px) and (max-width: 1023px) {
  .visit {
    padding: 72px 32px 64px;
  }

  .contact {
    margin-top: 64px;
  }

  .contact__map {
    width: 344px;
  }
}
