.opinion {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 88px;
  gap: 32px;
}

.opinion__text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  max-width: 346px;
}

.opinion__title {
  font-weight: 400;
  font-size: 34px;
  line-height: 120%;
  color: var(--secundaria900);
}

.opinion__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: var(--secundaria900);
}

.wpp__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 456px;
  height: 51px;
}

@media screen and (max-width: 580px) {
  .opinion {
    flex-direction: column;
    align-items: center;
    padding: 32px 16px;
    gap: 40px;
  }
  
  .wpp__button {
    align-self: flex-start;
    width: 188px;
    height: 51px;
  }
}

@media (min-width: 581px) and (max-width: 1023px) {
  .opinion {
    padding: 32px;
  }

  /* .opinion__text-container {
    width: 341px;
  } */

  .wpp__button {
    width: 314px;
    height: 51px;
  }
}
