.hero-odonto__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: calc(var(--tamanho-navbar-desktop) + 72px) 88px 72px;
}

.hero-odonto__title {
  font-weight: 400;
  font-size: 43px;
  line-height: 120%;
  color: var(--secundaria900);
}

.hero-odonto__description-text {
  align-self: flex-end;
  width: 416px;
  margin: .5px 0 1.5px;
  color: var(--secundaria900);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.hero-odonto__button {
  padding: 16px 24px;
}

@media screen and (max-width: 580px) {
  .hero-odonto__container {
    padding: calc(var(--tamanho-navbar-mobile) + 64px) 16px 64px;
  }

  .hero-odonto__description-text {
    width: 328px;
    align-self: flex-start;
    margin: 32px 0 40px;
  }
}

@media screen and (min-width: 581px) and (max-width: 1023px) {
  .hero-odonto__container {
    padding: 64px 32px;
  }

  .hero-odonto__description-text {
    width: 342px;
    align-self: flex-end;
  }
}
