.odontocards__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 24px 32px;
}

.odontocard {
  display: flex;
  align-items: center;
  padding: 32px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
  border-radius: 24px;
  background: #e5eee5;
  width: 848px;
}

.odontocard__line {
  border: 1px solid #955731;
  height: 200px;
  margin: 0 48px;
}

.odontocard__info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.odontocard__doc-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
}

.odontocard__doc-subtitle {
  font-weight: 700;
  font-size: 16px;
  padding: 16px 0 24px;
  line-height: 120%;
}

.odontocard__doc-details {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.odontocard:nth-child(even) {
  flex-direction: row-reverse;
  background: var(--primaria);
}

@media screen and (max-width: 580px) {
  .odontocards__container {
    align-items: center;
    padding: 24px 16px;
  }

  .odontocard {
    flex-direction: column;
    width: 100%;
  }

  .odontocard:nth-child(even) {
    flex-direction: column;
  }

  .odontocard__line {
    width: 252px;
    height: 0px;
    margin: 80px 38px 48px;
  }

  .odontocard__info {
    width: 264px;
  }
}

@media screen and (min-width: 581px) and (max-width: 1023px) {
  .odontocards {
    padding: 24px 32px;
  }

  .odontocard {
    width: 704px;
  }

  .odontocard__line {
    margin: 0 48px;
  }
}
