/* ROOT SECTION ↓↓ */

:root {
  --primaria: #fdfcf4;

  --secundaria900: #2d3a1d;
  --secundaria700: #4a6438;
  --secundaria400: #6b915d;
  --secundaria200: #9ebd97;
  --secundaria50: #e5eee5;

  --terciaria: #955731;

  --preto: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

section {
  padding: 0 5.625rem; /* convertendo 90px para rem */
}
