/* ROOT SECTION ↓↓ */

:root {
    --primaria: #FDFCF4;

    --secundaria900: #2D3A1D;
    --secundaria700: #4A6438;
    --secundaria400: #6B915D;
    --secundaria200: #9EBD97;
    --secundaria50: #E5EEE5;

    --terciaria: #955731;

    --preto: #000000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

section {
    padding: 0 5.625rem; /* convertendo 90px para rem */
}

/* EXAMS SECTION ↓↓ */

.exams {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}

.examsTexts h2 {
    font-weight: 700;
    font-size: 32px;
    width: 416px;
}

.examsTexts p {
    color: #8E8B8B;
    font-weight: 500;
    width: 416px;
    margin-top: 24px;
    margin-bottom: 35px;
}

.examsTexts button {
    background-color: #D9D9D9;
    border: none;
    width: 170px;
    height: 51px;
    font-weight: 400;
    border-radius: 8px;
}

.mockImg03 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    width: 412px;
    height: 283.83px;
}

/* VISIT US SECTION ↓↓ */

.visitUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E7E6E6;
    padding: 64px 0;
}

.visitUs h2 {
    font-weight: 700;
    font-size: 40px;
}

.visitUs p {
    padding: 48px 0;
}

.contactContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.contactContainer ul {
    background-color: white;
    list-style: none;
    border-radius: 24px;
    padding: 40px 32px;
    gap: 48px;
    display: flex;
    flex-direction: column;
    width: 342px;
}

.contactContainer ul li {
    display: flex;
    align-items: center;
    gap: 24px;
}

.contactContainer ul li img {
    background-color: #D9D9D9;
    border-radius: 100%;
    width: 64px;
    height: 64px;
}

.contactContainer ul li div {
    display: flex;
    flex-direction: column;
}

.contactContainer ul li div span {
    padding-bottom: 24px;
}

.contactContainer iframe {
    border-radius: 24px;
}

/* FOOTER SECTION ↓↓ */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 24px 0 48px 0;
}

footer div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px 0 19px 0;
    gap: 21px;
}

footer ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 16px;
}

footer ul li:last-child {
    font-weight: 700;
}

.insta {
    width: 18px;
    height: 18px;
}

.face {
    width: 18px;
    height: 18px;
}
