.hero-med__container {
  margin-top: 76.4px;
  padding: 72px 88px;
}

.hero-med__title {
  font-weight: 700;
  font-size: 40px;
}

.hero-med__description {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.hero-med__description-text {
  width: 416px;
  margin-top: 2.5px;
  line-height: 19px;
  color: #8e8b8b;
}

.hero-med__button {
  padding: 16px 24px;
  background: #d9d9d9;
  border-radius: 8px;
  font-weight: 400;
}

@media screen and (max-width: 500px) {
  .hero-med__container {
    margin: 108.4px 0 32px;
    padding: 32px 16px;
  }

  .hero-med__description {
    margin: 32px 0 40px;
    justify-content: flex-start;
  }

  .hero-med__description-text {
    width: 328px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .hero-med__container {
        margin-top: 172px;
        padding: 64px 32px;
      } 

      .hero-med__description {
        margin: 4.5px 0 0;
        justify-content: flex-end;
      }
}
