.hero-med__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: calc(var(--tamanho-navbar-desktop) + 72px) 88px 72px;
}

.hero-med__title {
  font-weight: 400;
  font-size: 43px;
  line-height: 120%;
  color: var(--secundaria900);
}

.hero-med__description-text {
  align-self: flex-end;
  width: 416px;
  margin: .5px 0 1.5px;
  color: var(--secundaria900);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.hero-med__button {
  padding: 16px 24px;
}

@media screen and (max-width: 500px) {
  .hero-med__container {
    margin: 108.4px 0 32px;
    padding: 32px 16px;
  }

  .hero-med__description-text {
    margin: 32px 0 40px;
    width: 328px;
    align-self: flex-start;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .hero-med__container {
    margin-top: 172px;
    padding: 64px 32px;
  }

  .hero-med__description-text {
    margin: 4.5px 0 0;
    align-self: flex-end;
  }
}
