.medcards__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 24px 32px;
}

.medcard {
  display: flex;
  align-items: center;
  padding: 32px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
  border-radius: 24px;
  background: #e5eee5;
  width: 848px;
}

.medcard__image-draadriana {
  background-image: url("../../../img/draadriana.webp");
}

.medcard__image-draallana {
  background-image: url("../../../img/drallana.webp");
}

.medcard__image-drabruna {
  background-image: url("../../../img/drabruna.webp");
}

.medcard__image-drcesar {
  background-image: url("../../../img/drcesar.webp");
}

.medcard__image-draemanuelle {
  background-image: url("../../../img/draemanuelle.webp");
}

.medcard__image-drajanailda {
  background-image: url("../../../img/drajanailda.webp");
}

.medcard__image-dramariana {
  background-image: url("../../../img/dramariana.webp");
}

.medcard__image-dranathassia {
  background-image: url("../../../img/dranathassia.webp");
}

.medcard__image-drarenata {
  background-image: url("../../../img/drarenata.webp");
}

.medcard__image-drsergio {
  background-image: url("../../../img/drsergio.webp");
}

.medcard__image {
  width: 286px;
  height: 284px;
  background-repeat: no-repeat;
  background-size: contain;
  mix-blend-mode: multiply;
  -webkit-mask-image: linear-gradient(to top, transparent 0%, black 25%);
  mask-image: linear-gradient(to top, transparent 0%, black 25%);
}

.medcard__line {
  border: 1px solid #955731;
  height: 200px;
  margin: 0 48px;
}

.medcard__info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.medcard__doc-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
}

.medcard__doc-subtitle {
  font-weight: 700;
  font-size: 16px;
  padding: 16px 0 24px;
  line-height: 120%;
}

.medcard__doc-details {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.medcard:nth-child(even) {
  flex-direction: row-reverse;
  background: var(--primaria);
}

@media screen and (max-width: 580px) {
  .medcards__container {
    align-items: center;
    padding: 24px 16px;
  }

  .medcard {
    flex-direction: column;
    width: 100%;
  }

  .medcard:nth-child(even) {
    flex-direction: column;
  }

  .medcard__line {
    width: 252px;
    height: 0px;
    margin: 80px 38px 48px;
  }

  .medcard__info {
    width: 264px;
  }
}

@media screen and (min-width: 581px) and (max-width: 1023px) {
  .medcards {
    padding: 24px 32px;
  }

  .medcard {
    width: 704px;
  }

  .medcard__line {
    margin: 0 48px;
  }
}
