/* SECOND CARD */

.med__secondcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 2rem 0;
}

.secondcard {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.12rem;
}

.second__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 848px;
  height: 348px;
  /* left: 88px; */
  background: #ffffff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
  border-radius: 24px;
  /* padding-right: 2rem; */
}

.second__item {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.second__image {

}

.second__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  gap: 10px;
  width: calc(100% - 403.57px);
}

.second__span {
  width: 208px;
  height: 29px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.second__light {
  width: 119px;
  height: 29px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-top: 10px;
}

.second__dados {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  padding-top: 10px;
}

/* RESPONSIVE  MOBILESECOND CARD */

@media screen and (max-width: 767px) {
  .med__secondcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 2rem 0;
  }

  .secondcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.12rem;
  }

  .second__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 328px;
    max-width: 25rem;
    height: auto;
    background: #ffffff;
    box-shadow: 0.625rem 0.625rem 1.875rem rgba(0, 0, 0, 0.06);
    border-radius: 1.5rem;
    padding: 2rem;
  }

  .second__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .second__image {

  }

  .second__line {
    transform: rotate(90deg);
    margin-right: 0.67rem;
  }

  .second__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.67rem;
    width: 100%;
    margin-right: 1.5rem;
  }

  .second__span {
    width: 100%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.81rem;
    text-align: center;
  }

  .second__light {
    width: 100%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.81rem;
    margin-top: 0.67rem;
    text-align: center;
  }

  .second__dados {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.81rem;
    padding-top: 0.67rem;
    text-align: justify;
  }
}
