/* CLINICAL STEFF SECTION ↓↓ */

.clinicalStaff {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
}

.clinicalStaff__title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 4rem;
}

@media screen and (max-width: 480px) {
  .clinicalStaff {
    padding-bottom: 3rem;
  }

  .clinicalStaff__title {
    font-size: 2rem;
  }
}
