/* EXAMS SECTION ↓↓ */

.exams {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.exams__title {
  font-weight: 700;
  font-size: 2rem;
  /* width: 26rem; */
}

.exams__description {
  color: #8e8b8b;
  font-weight: 500;
  /* width: 26rem; */
  margin-top: 1.5rem;
  margin-bottom: 2.18rem;
}

.exams__button {
  background-color: #d9d9d9;
  border: none;
  width: 10.62rem;
  height: 3.18rem;
  font-weight: 400;
  border-radius: 0.5rem;
  cursor: pointer;
}

.exams__image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  width: 25.75rem;
  height: 17.73rem;
}

@media screen and (max-width: 480px) {
  .exams {
    flex-direction: column;
    padding: 0;
    margin-top: 4rem;
    align-items: inherit;
  }

  .exams__content {
    margin-bottom: 2rem;
    margin-left: 1rem;
  }

  .exams__image {
    width: 100%;
    height: 280px; /* Deixar temporariamente */
    margin-bottom: 2rem;
  }
}
