/* PRICE SECTION ↓↓ */

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.price__title {
  font-weight: 700;
  font-size: 2rem;
  width: 26rem;
}

.price__description {
  color: #8e8b8b;
  font-weight: 500;
  width: 26rem;
  margin-top: 1.5rem;
  margin-bottom: 2.18rem;
}

.price__button {
  background-color: #d9d9d9;
  border: none;
  width: 10.62rem;
  height: 3.18rem;
  font-weight: 400;
  border-radius: 0.5rem;
}

.price__image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  width: 25.75rem;
  height: 17.73rem;
}
