/* PRICE SECTION ↓↓ */

.price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}

.price__title {
    font-weight: 700;
    font-size: 32px;
    width: 416px;
}

.price__description {
    color: #8E8B8B;
    font-weight: 500;
    width: 416px;
    margin-top: 24px;
    margin-bottom: 35px;
}

.price__button {
    background-color: #D9D9D9;
    border: none;
    width: 170px;
    height: 51px;
    font-weight: 400;
    border-radius: 8px;
}

.price__image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    width: 412px;
    height: 283.83px;
}