.sobre-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8.525rem 0 4rem;
  margin-left: 5rem;
}

.sobre-text__title {
  font-weight: 400;
  color: var(--secundaria900);
  font-size: 3.063rem;
  max-width: 26rem;
  margin-bottom: 0.5rem;
  line-height: 58.8px;
}
.sobre-text__description {
  display: flex;
  width: 416px;
  height: 57px;
  font-size: 16px;
  text-align: justify;
  line-height: 120%;
  color: #2d3a1d;
  padding-left: 70px;
  margin-right: 100px;
}

.sobre-text__title--misson {
  font-weight: 400;
  color: var(--secundaria900);
  font-size: 3.063rem;
  max-width: 26rem;
  margin-bottom: 0.5rem;
  line-height: 58.8px;
}

.team-section--sobre {
  margin-top: 60px;
  margin-bottom: 60px;
}

@media screen and (max-width: 580px) {
  .sobre-text {
    flex-direction: column;
    padding: 4.388rem 0 0rem;
    margin: 0 1rem 2rem;
    align-self: start;
  }

  .sobre-text__title {
    align-self: start;
  }

  .sobre-text__description {
    align-items: center;
    width: 300px;
    height: 114px;
    align-self: start;
    padding-left: 0px;
    text-align: justify;
  }

  .sobre-text__title--misson {
    align-self: start;
  }
}

@media screen and (max-width: 768px) {
  .sobre-text {
    margin-left: 40px;
  }
}
