.sobre-text {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 72px 88px;
  gap: 16px;
}

.sobre-text__container-title {
  width: 416px;
  flex: none;
}

.sobre-text__title {
  font-weight: 400;
  font-size: 2.688rem;
  width: 344px;
}

.sobre-text__description {
  flex-grow: 1;
  font-size: 16px;
  /* margin-left: 88px; */
  text-align: justify;
}

@media screen and (max-width: 580px) {
  .sobre-text {
    flex-direction: column;
    padding: 64px 16px;
    align-items: start;
    gap: 32px;
  }

  .sobre-text__container-title {
    width: 100%;
  }

  .sobre-text__title {
    width: 100%;
    font-size: 34px;
  }

  .sobre-text__description {
    width: 100%;
    margin: 0;
  }
}

@media screen and (min-width: 581px) and (max-width: 1023px) {
  .sobre-text {
    padding: 2rem 0;
  }

  .sobre-text__container-title {
    margin-left: 2rem;
    width: 100%;
    max-width: 344px;
  }

  .sobre-text__title {
    max-width: 320px;
    font-size: 34px;
  }

  .sobre-text__description {
    flex-grow: 1;
  }
}

@media screen and (min-width: 1025px) {
  .sobre-text__container-title {
    width: calc(50vw - 5.5rem);
  }

  .sobre-text__title {
    width: 100%;
  }

  .sobre-text__description {
    width: calc(50vw - 5.5rem);
    flex-grow: 0;
  }
}
